@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 700px;
  min-height: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-pointer {
  cursor: pointer;
}

.flex {
  flex: 1 1 auto;
}

label {
  cursor: pointer;
}

.form-control:focus {
  border-color: $success;
  box-shadow: 0 0 0 0.2rem rgba($success, 0.2);
}